<%= render 'shared/page_title', title: 'Create Recipe Style' %>

<%= render 'shared/errors', obj: @style %>

<div class="row">
    
    <div class="col-md-8 col-md-offset-2 well">
        <%= form_for @style do |f| %>
            <div class="form-group">
                <%= f.label :name %>
                <%= f.text_field :name, options = { autofocus: true, class: 'form-control' } %>
            </div>
            
            <%= f.submit 'Create Style', class: 'btn btn-success' %>
        <% end %>
    </div>
    
</div>